<link rel="stylesheet" href="../css/style.css"/>
<h2>Team <%=rivalName.teamName%></h2>
<%userSquad.forEach(player => { %>
    <div>
        <h2><%= player.firstName %> <%= player.lastName %></h2>
        <p><%= player.team%></p>
        <p>Position: <%= player.position%></p>
    </div>
 <% }) %>

 <div class="comment-section">
     <!-- this is where comments go -->
     <%comments.forEach(comment => { %>
        <div>
            <h4><%= comment.content %> </h4>
            <p> -Team <%= comment.name%></p>
        </div>
     <% }) %>
     <!-- form to add new comment -->
     <form method="POST" action="/users/<%=rivalId%>/comment">
        <label for="content">Talk Some Shit:</label>
        <input id="content" type="text" name="content" placeholder="enter comment here" />

        <label for ="name">Enter Your Team Name Here:</label>
        <input id="name" type="text" name="name" placeholder="enter name here" />

        <button type="submit">Post Your Comment!</button>
     </form>
 </div>

 
 <a href="/users/">Back to Squad List</a>
 