<h2>Team <%=user.teamName%> ready to rock!</h2>
<button type="submit">Update Your Squad Name</button>
<form hidden method="PUT" action="/users/yourSquad/<%=user.id%>?_method=PUT">
    <label for="update">New Name Here:</label>
    <input id="update" type="text" name="teamName" />
    <input type="submit"/>
</form>


<%userSquad.forEach(player => { %>
    <div>
        <h2><%= player.firstName %> <%= player.lastName %></h2>
        <p><%= player.team%></p>
        <p>Position: <%= player.position%></p>
        <form method="POST" action="/players/<%=player.id%>?_method=DELETE">
             <button type="submit">Delete from Your Squad</button>
        </form>
    </div>
 <% }) %>