<link rel="stylesheet" href="../css/style.css"/>
<h2>Team <%=user.teamName%> </h2>
<!-- <button type="submit">Update Your Squad Name</button> -->
<form method="POST" action="/users/yourSquad?_method=PUT">
    <label for="update">New Team Name Here:</label>
    <input id="update" type="text" name="teamName" placeholder="enter new  name here" />
    <input type="submit" class="btn btn-primary"/>
</form>


<%userSquad.forEach(player => { %>
    <div>
        <h2><%= player.firstName %> <%= player.lastName %></h2>
        <p><%= player.team%></p>
        <p>Position: <%= player.position%></p>
        <form method="POST" action="/players/<%=player.id%>?_method=DELETE">
             <button type="submit" class="btn btn-primary">Delete from Your Squad</button>
        </form>
    </div>
<% }) %>

<div id="comment-section">
    <%comments.forEach(comment => { %>
        <div>
            <h4><%= comment.content %> </h4>
            <p> -Team <%= comment.name%></p>
        </div>
     <% }) %>
</div>