<h2>Your Squad</h2>

<h3>Here is your Squad, <%=user.email%>!</h3>
<!-- need to link user.teamName in controller-->

<%userSquad.forEach(player => { %>
    <div>
        <h2><%= player.firstName %> <%= player.lastName %></h2>
        <p><%= player.team%></p>
        <p>Position: <%= player.position%></p>
        <form method="POST" action="/players/<%=player.id%>?_method=DELETE">
             <button type="submit">Delete from Your Squad</button>
        </form>
    </div>
 <% }) %>